
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{{base|raw}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{metaDescription|raw}}">
    <meta name="keywords" content="{{metaKeywords|raw}}">
    <meta name="author" content="{{metaAuthor|raw}}">
    <meta name="robots" content="index, follow">
    <meta property="og:url" content="http://www.JATE.it/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title|raw}}">
    <meta property="og:description" content="{{metaDescription|raw}}">
    <meta property="og:image" content="img/favicon.png">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <noscript>Your browser does not support JavaScript!</noscript>
    <title>{{title|raw}}</title>
    {{css|raw}}
  </head>
  <body>
    <div class="col-lg-12" id="container">
      <section class="row" id="page">
        <div class="page-navigation-content">
          <div class="navigation-navbar">
            <div class="navbar-global-navigation">
                <div class="global-navigation-primary-content">
                  <div class="global-navigation-primary-actions">
                    <div class="primary-actions-primary-item">
                      <a class="global-navigation-brand" href="">
                        <div>
                          <img alt="Atlaskit logo" height="36" src="img/logo.svg" width="36" style="display: block;">
                        </div>
                      </a>
                    </div>
                    <div class="primary-action-items-wrapper">
                      <div class="primary-action-inner">
                          <button class="primary-inner-button" type="button" aria-haspopup="true" role="button">
                            <div>
                              <span class="sc-bwzfXH iQjDgX" aria-label="search">
                                <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                  <path d="M16.436 15.085l3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406zM10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z" fill="currentColor" fill-rule="evenodd"></path>
                                </svg>
                              </span>
                            </div>
                          </button>
                      </div>
                      <div class="primary-action-inner">
                        <button class="primary-inner-button" type="button" aria-haspopup="true" role="button">
                          <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                            <path d="M5 15h14v2H5zm0-8h14v2H5zm0 4h14v2H5z" fill="currentColor" fill-rule="evenodd"></path>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="global-navigation-secondary-content"></div>
            </div>
            <div class="navbar-wrapper-navigation">
                  <div class="wrapper-navigation-container">
                    <div class="wrapper-navigation-header">
                      <a class="wrapper-header-title" href="overview">
                        <span class="header-title-icon">
                          <div class="title-icon-wrap">
                            <div class="title-icon-container">
                              <div class="icon-wrapper" color="#FF5630">
                                <span class="text-white" aria-label="Packages">
                                  <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                    <g fill="currentColor" fill-rule="evenodd">
                                      <path d="M5 17.991c0 .007 14.005.009 14.005.009-.006 0-.005-7.991-.005-7.991C19 10.002 4.995 10 4.995 10 5.001 10 5 17.991 5 17.991zM3 10.01C3 8.899 3.893 8 4.995 8h14.01C20.107 8 21 8.902 21 10.009v7.982c0 1.11-.893 2.009-1.995 2.009H4.995A2.004 2.004 0 0 1 3 17.991V10.01z"></path>
                                      <path d="M7 8.335c0-.002 2.002-.002 2.002-.002C9 8.333 9 6.665 9 6.665c0 .002-2.002.002-2.002.002C7 6.667 7 8.335 7 8.335zm-2-1.67C5 5.745 5.898 5 6.998 5h2.004C10.106 5 11 5.749 11 6.665v1.67C11 9.255 10.102 10 9.002 10H6.998C5.894 10 5 9.251 5 8.335v-1.67zm10 1.67c0-.002 2.002-.002 2.002-.002C17 8.333 17 6.665 17 6.665c0 .002-2.002.002-2.002.002.002 0 .002 1.668.002 1.668zm-2-1.67C13 5.745 13.898 5 14.998 5h2.004C18.106 5 19 5.749 19 6.665v1.67c0 .92-.898 1.665-1.998 1.665h-2.004C13.894 10 13 9.251 13 8.335v-1.67z"></path>
                                    </g>
                                  </svg>
                                </span>
                              </div>
                            </div>
                          </div>
                        </span>
                        <span class="header-title-title">
                          <span class="header-title-title-content">
                            <span class="font-weight-500">Packages</span>
                          </span>
                        </span>
                      </a>
                    </div>
                    <div class="wrapper-navigation-content">
                      <div class="wrapper-scroller">
                        <div class="nested-navigation-wrapper">
                          <div class="nested-navigation-page">
                            <div aria-label="" role="group">
                              <a class="nested-navigation-item active" href="overview" style="color: inherit;">
                                <span class="ItemParts__ContentWrapper-gsFifz lbWbWR">
                                  <span class="ItemParts__Content-iKxlvd hxJlur">Overview</span>
                                </span>
                              </a>
                            </div>
                            <!-- Content -->
                            <div aria-label="content" role="group">
                              <div class="item-group-title" aria-hidden="true">
                                <div class="item-group-title-content">
                                  <div class="item-group-title-title">Content</div>
                                </div>
                              </div>
                              <a class="nested-navigation-item" href="colors" style="color: inherit;">
                                <span class="nested-navigation-item-before">
                                  <div class="nested-navigation-item-icon">
                                    <span class="nested-navigation-icon">
                                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                        <path d="M10.294 9.698a.988.988 0 0 1 0-1.407 1.01 1.01 0 0 1 1.419 0l2.965 2.94a1.09 1.09 0 0 1 0 1.548l-2.955 2.93a1.01 1.01 0 0 1-1.42 0 .988.988 0 0 1 0-1.407l2.318-2.297-2.327-2.307z" fill="currentColor" fill-rule="evenodd"></path>
                                      </svg>
                                    </span>
                                  </div>
                                </span>
                                <span class="nested-navigation-item-content">
                                  <span class="item-content-title">Colors</span>
                                </span>
                              <a class="nested-navigation-item" href="images" style="color: inherit;">
                                <span class="nested-navigation-item-before">
                                  <div class="nested-navigation-item-icon">
                                    <span class="nested-navigation-icon">
                                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                        <path d="M10.294 9.698a.988.988 0 0 1 0-1.407 1.01 1.01 0 0 1 1.419 0l2.965 2.94a1.09 1.09 0 0 1 0 1.548l-2.955 2.93a1.01 1.01 0 0 1-1.42 0 .988.988 0 0 1 0-1.407l2.318-2.297-2.327-2.307z" fill="currentColor" fill-rule="evenodd"></path>
                                      </svg>
                                    </span>
                                  </div>
                                </span>
                                <span class="nested-navigation-item-content">
                                  <span class="item-content-title">Images</span>
                                </span>
                              <a class="nested-navigation-item" href="typography" style="color: inherit;">
                                <span class="nested-navigation-item-before">
                                  <div class="nested-navigation-item-icon">
                                    <span class="nested-navigation-icon">
                                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                        <path d="M10.294 9.698a.988.988 0 0 1 0-1.407 1.01 1.01 0 0 1 1.419 0l2.965 2.94a1.09 1.09 0 0 1 0 1.548l-2.955 2.93a1.01 1.01 0 0 1-1.42 0 .988.988 0 0 1 0-1.407l2.318-2.297-2.327-2.307z" fill="currentColor" fill-rule="evenodd"></path>
                                      </svg>
                                    </span>
                                  </div>
                                </span>
                                <span class="nested-navigation-item-content">
                                  <span class="item-content-title">Typography</span>
                                </span>
                              </a>
                            </div>
                            <!-- Components -->
                            <div aria-label="core" role="group">
                              <div class="item-group-title" aria-hidden="true">
                                <div class="item-group-title-content">
                                  <div class="item-group-title-title">Components</div>
                                </div>
                              </div>
                              <a class="nested-navigation-item" href="buttons" style="color: inherit;">
                                <span class="nested-navigation-item-before">
                                  <div class="nested-navigation-item-icon">
                                    <span class="nested-navigation-icon">
                                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                        <path d="M10.294 9.698a.988.988 0 0 1 0-1.407 1.01 1.01 0 0 1 1.419 0l2.965 2.94a1.09 1.09 0 0 1 0 1.548l-2.955 2.93a1.01 1.01 0 0 1-1.42 0 .988.988 0 0 1 0-1.407l2.318-2.297-2.327-2.307z" fill="currentColor" fill-rule="evenodd"></path>
                                      </svg>
                                    </span>
                                  </div>
                                </span>
                                <span class="nested-navigation-item-content">
                                  <span class="item-content-title">Buttons</span>
                                </span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="GlobalNavigationSecondaryContainer-fyfziZ UyTOS">
                      <div class="RevealInner-gspbDl jcPCiz"></div>
                    </div>
                  </div>
                </div>
            <div>
              <div class="styled-fSMZzE kBZnBC"></div>
            </div>
            <div>
              <div class="styled-fSMZzE kBZnBC"></div>
            </div>
          </div>
          <div class="page-page-content">
            {{content|raw}}
          </div>
        </div>
      </section>
      <footer class="row" id="footer">
        {{footer|raw}}
      </footer>
    </div>
    {{outContent|raw}}
    {{js|raw}}
    {{jsVariables|raw}}
  </body>
</html>
