
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{{base|raw}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{metaDescription|raw}}">
    <meta name="keywords" content="{{metaKeywords|raw}}">
    <meta name="author" content="{{metaAuthor|raw}}">
    <meta name="robots" content="index, follow">
    <meta property="og:url" content="http://www.JATE.it/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title|raw}}">
    <meta property="og:description" content="{{metaDescription|raw}}">
    <meta property="og:image" content="img/favicon.png">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <noscript>Your browser does not support JavaScript!</noscript>
    <title>{{title|raw}}</title>
    {{css|raw}}
  </head>
  <body>
    <div class="col-lg-12" id="container">
      <section class="row" id="page">
        {{content|raw}}
      </section>
      <footer class="row" id="footer">
        {{footer|raw}}
      </footer>
    </div>
    {{outContent|raw}}
    {{js|raw}}
    {{jsVariables|raw}}
  </body>
</html>
